{% extends 'base.html' %}

{% block styles %}
    <!-- Include Leaflet and jQuery libraries -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <!-- End of Leaflet and jQuery libraries -->
{% endblock %}

{% block map %}
<!-- Search bar container -->
<div class="search-container">
  <form action="/search" method="POST">
    <input type="text" placeholder="Search.." name="search_term">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>

<!-- Map container -->
<div id="map"></div>

<!-- Rental information -->
<div class="rental-info">
  <h1>Seattle Rental Information</h1>
  <p>Click on a marker to view rental information.</p>
  <div class = "rental-data">
    <h1 id="rental-name"></h1>
    <h2 id="rental-address"></h2>
    <p><strong>Rating:</strong> <span id="rental-rating"></span></p>
    <p><strong>Phone:</strong> <span id="rental-phone"></span></p>
    <p><strong>Website:</strong> <span id="rental-website"></span></p>
  </div>
</div>

<!-- Marker details container -->
<div class="restaurant-details">
  <h1 id="restaurant-name"></h1>
  <h2 id="restaurant-address"></h2>
  <p><strong>Rating:</strong> <span id="restaurant-rating"></span></p>
  <p><strong>Phone:</strong> <span id="restaurant-phone"></span></p>
  <p><strong>Website:</strong> <span id="restaurant-website"></span></p>
</div>

<script>
// Sets the view and map object
const map = L.map('map').setView([47.60923991620634, -122.33245780856687], 13);

// Initiallizes the map with the given layer
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

// Load the JSON file and add markers for each feature
fetch('/markers')
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    return response.json();
  })
  .then(data => {
    data.features.forEach(feature => {
      var coordinates = feature.geometry.coordinates;
      console.log(coordinates);
      var id = feature.properties.id;
      console.log(id);
      var newMarker = L.marker(coordinates).addTo(map).on('click', function() {
        $.post("/", {
          marker_id: id
        });
        fetchMarkerPoints(id);
        rentalDetails(feature.properties)
      });
    });
  });

let lastLayer;

// Function to fetch additional marker points
function fetchMarkerPoints(markerId) {
  if (lastLayer) {
    map.removeLayer(lastLayer);
    resetRestaurantDetails();
  }

  fetch(`/marker/${markerId}/points`)
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    return response.json();
  })
  .then(data => {
    var myIcon = L.icon({
      iconUrl: "{{ url_for('static', filename='marker-icon-red.png') }}",
      iconSize: [25, 41],
      iconAnchor: [12, 41],
      popupAnchor: [1, -34],
      shadowSize: [41, 41] // Change the icon URL to the red marker icon
    });

    // Add the additional points to the Leaflet map
    lastLayer = L.geoJSON(data, {
      pointToLayer: function(feature, latlng) {
        return L.marker(latlng, {icon: myIcon});
      }
    }).addTo(map);
  })
  .catch(error => {
    console.error('Error fetching marker points:', error);
  });
}

function search() {
  // Make an HTTP request to Flask to get updated data
  fetch(`/search`)
  .then(response => response.json())
  .then(data => {
      map.setView(data.feature.geometry.coordinates, 13);
      // function restaurantDetails(data) {
      //   console.log(data.address);
      //   // Update the HTML template with the marker details
      //   var element = document.getElementsByClassName("marker-details")[0];
      //   // Hide the element
      //   element.style.display = "block";

      //   var nameDiv = document.getElementById("name");
      //   // Update the name div with the name of the restaurant
      //   nameDiv.textContent = data.name;

      //   var addressDiv = document.getElementById("address");
      //   // Update the address div with the address of the restaurant
      //   addressDiv.textContent = data.address;

      //   var ratingDiv = document.getElementById("rating");
      //   // Update the rating div with the rating of the restaurant
      //   ratingDiv.textContent = data.rating;
      // }
    });
}

function restaurantDetails(restaurant) {
  // Update the marker-details div
  var element = document.getElementsByClassName("restaurant-details")[0];
  // Show the element
  element.style.display = "block";
  document.getElementById("restaurant-name").textContent = restaurant.name;
  document.getElementById("restaurant-address").textContent = restaurant.address;
  document.getElementById("restaurant-rating").textContent = restaurant.rating;
  document.getElementById("restaurant-phone").textContent = restaurant.phone;
  document.getElementById("restaurant-website").textContent = restaurant.website;
}

function resetRestaurantDetails() {
  // Update the marker-details div
  var element = document.getElementsByClassName("restaurant-details")[0];
  // Hide the element
  element.style.display = "none";
}

function rentalDetails(rental) {
  // Update the rental-info div
  var element = document.getElementsByClassName("rental-data")[0];
  // Show the element
  element.style.display = "block";
  document.getElementById("rental-name").textContent = rental.name;
  document.getElementById("rental-address").textContent = rental.address;
  document.getElementById("rental-rating").textContent = rental.rating;
  document.getElementById("rental-phone").textContent = rental.phone;
  document.getElementById("rental-website").textContent = rental.website;
}

// // Loop through the markers and add them to the map
// {% for point in features %}
//   addMarker({{ feature | tojson }});
// {% endfor %}

</script>
{% endblock %}