{% extends 'base.html' %}

{% block styles %}
    <!-- Include Leaflet and jQuery libraries -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <!-- End of Leaflet and jQuery libraries -->
{% endblock %}

{% block map %}

<div class="map-filters">
  <!-- Search bar container -->
  <div class="search-container">
    <form id="search-form">
      <input type="text" placeholder="Search for an address..." name="search_term">
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>


  <!-- Filter button -->
  <button id="filter-button" class="btn btn-secondary">Filter</button>
  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <form method="POST">
        {{ filtering_form.hidden_tag() }}
      
        {{ filtering_form.restaurant_cuisine.label(class="form-select") }}
      
        {{ filtering_form.restaurant_cuisine(class="form-select") }}
      
        {{ filtering_form.submit(class="btn btn-secondary") }}
        <br/>
      </form>
    </div>
  </div>
</div>


<div class ="map-container">

  <!-- Map container -->
  <div id="map"></div>

  <!-- Rental information -->
  <div class="rental-info">
    <h1>Seattle Rental Information</h1>
    <p>Click on a marker to view rental information.</p>
    <h1 id="rental-name"></h1>
    <h2 id="rental-address"></h2>
    <p><strong>Rating:</strong> <span id="rental-rating"></span></p>
    <p><strong>Phone:</strong> <span id="rental-phone"></span></p>
    <p><strong>Website:</strong> <span id="rental-website"></span></p>
  </div>

  <!-- Marker details container -->
  <div class="restaurant-details">
    <h1 id="restaurant-name"></h1>
    <h2 id="restaurant-address"></h2>
    <p><strong>Cuisine:</strong> <span id="restaurant-cuisine"></span></p>
    <p><strong>Phone:</strong> <span id="restaurant-phone"></span></p>
    <p><strong>Website:</strong> <span id="restaurant-website"></span></p>
    <button id="closeButton">Close</button>
  </div>

</div>
<script>
// Sets the view and map object
mapboxgl.accessToken = 'pk.eyJ1IjoiZGR1dmFsbCIsImEiOiJja2xhZGNmaHIwMThrMnZtZDZidmxreXEzIn0.7GoqPq-DxGD00WE6CfmmTw';
var map = new mapboxgl.Map({
  container: 'map', // container ID
  // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
  style: 'mapbox://styles/mapbox/light-v11', // style URL
  center: [-122.3321, 47.6062], // starting position [lng, lat]
  zoom: 10 // starting zoom
});

var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("filter-button");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

function showRentals(marker) {
    map.addSource('markers', {
      type: 'geojson',
      data: marker,
      cluster: true,
      clusterMaxZoom: 12, // Max zoom to cluster points on
      clusterRadius: 75 // Radius of each cluster when clustering points (defaults to 50)
    });

    map.addLayer({
      id: 'clusters',
      type: 'circle',
      source: 'markers',
      filter: ['has', 'point_count'],
      paint: {
        // Use step expressions (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
        // with three steps to implement three types of circles:
        //   * Blue, 20px circles when point count is less than 100
        //   * Yellow, 30px circles when point count is between 100 and 750
        //   * Pink, 40px circles when point count is greater than or equal to 750
        'circle-color': [
          'step',
          ['get', 'point_count'],
          '#51bbd6',
          100,
          '#f1f075',
          750,
          '#f28cb1'
        ],
        'circle-radius': [
          'step',
          ['get', 'point_count'],
          20,
          100,
          30,
          750,
          40
        ]
      }
    });

    map.addLayer({
      id: 'cluster-count',
      type: 'symbol',
      source: 'markers',
      filter: ['has', 'point_count'],
      layout: {
        'text-field': '{point_count_abbreviated}',
        'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
        'text-size': 12
      }
    });

    map.addLayer({
      id: 'unclustered-point',
      type: 'circle',
      source: 'markers',
      filter: ['!', ['has', 'point_count']],
      paint: {
        'circle-color': '#11b4da',
        'circle-radius': 10,
        'circle-stroke-width': 1,
        'circle-stroke-color': '#fff'
      }
    });

    // inspect a cluster on click
    map.on('click', 'clusters', function (e) {
      var features = map.queryRenderedFeatures(e.point, {
        layers: ['clusters']
      });
      var clusterId = features[0].properties.cluster_id;
      map.getSource('markers').getClusterExpansionZoom(
        clusterId,
        function (err, zoom) {
          if (err) return;

          map.easeTo({
            center: features[0].geometry.coordinates,
            zoom: 14
          });
        }
      );

      // Check if the layer exists before trying to remove it
      if (map.getLayer(lastLayerId)) {
        map.removeLayer(lastLayerId);
        lastLayerId = null;
      }

      // Check if the source exists before trying to remove it
      if (map.getSource(lastSourceId)) {
        map.removeSource(lastSourceId);
        lastSourceId = null;
      }

    });

    // When a click event occurs on a feature in the unclustered-point layer, open a popup at the location of the feature, with description HTML from its properties.
    map.on('click', 'unclustered-point', function (e) {
      var coordinates = e.features[0].geometry.coordinates.slice();
      var description = e.features[0].properties.description;
      var id = e.features[0].properties.id; // Ensure the id is available in the properties

      // Ensure that if the map is zoomed out such that multiple copies of the feature are visible, the popup appears over the copy being pointed to.
      while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
      }

      map.flyTo({
        center: coordinates,
        zoom: 14
      });

      fetchMarkerPoints(id); // Fetch marker points with the id
      rentalDetails(e.features[0].properties); // Run rentalDetails with the properties
    });

    map.on('click', function(e) {
      var features = map.queryRenderedFeatures(e.point, { layers: ['unclustered-point'] });
      
      if (!features.length) {
        var element = document.getElementsByClassName("restaurant-details")[0];
        // Hide the element
        element.style.display = "none";
      }
    });

    map.on('mouseenter', 'clusters', function () {
      map.getCanvas().style.cursor = 'pointer';
    });
    map.on('mouseleave', 'clusters', function () {
      map.getCanvas().style.cursor = '';
    });
  };

// // Load the JSON file and add markers for each feature
// fetch('/markers')
//   .then(response => response.json())
//   .then(data => {
//     data.features.forEach(feature => {
//       var coordinates = feature.geometry.coordinates;
//       var address = feature.properties.address;
//       console.log(address);
//       var id = feature.properties.id;
//       console.log(id);
//       console.log(coordinates)
//       var newMarker = new mapboxgl.Marker({
//         color: '#00FF00',
//         interactive: true
//       }).setLngLat(coordinates)
//         .addTo(map);

//       newMarker.getElement().addEventListener('click', function() {
        
//         map.flyTo({
//             center: coordinates,
//             zoom: 14
//         });

//         fetchMarkerPoints(id);
//         console.log(feature.properties)
//         console.log(feature.geometry.coordinates)
//         rentalDetails(feature.properties);
        
//       });
//     });
//   });

  
  map.on('load', function() {
    lastLayerId = null;
    lastSourceId = null;
    var markers = {{ markers | tojson }};
    showRentals(markers);
    map.loadImage(
      'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
      function(error, image) {
        if (error) throw error;
        map.addImage('marker-15', image);
      }
    );
    
  });


  

  function fetchMarkerPoints(markerId) {
    
    fetch(`/marker/${markerId}/points`)
      .then(response => response.json())
      .then(data => {
        var features = data.features;
        var sourceData = {
          type: 'FeatureCollection',
          features: features
        };
        var newSourceId = `source-${markerId}`;
        var newLayerId = `layer-${markerId}`;
        var layer = {
          id: newLayerId,
          type: 'symbol',
          source: newSourceId,
          layout: {
            'icon-image': 'marker-15',
            'icon-allow-overlap': true,
            'icon-ignore-placement': true
          },
          paint: {
            'icon-color': '#FF0000'
          },
          maxzoom: 10 // Set the maximum zoom level at which the layer is visible
        };

        if (lastLayerId !== newLayerId) {
          if (lastLayerId) {
            map.removeLayer(lastLayerId);
            map.removeSource(lastSourceId);
            resetRestaurantDetails();
          }
          map.addSource(newSourceId, { type: 'geojson', data: sourceData });
          map.addLayer(layer);
          map.setLayerZoomRange(newLayerId, 13, 25);
          lastLayerId = newLayerId;
          lastSourceId = newSourceId;
        }

        map.on('click', newLayerId, function(e) {
          var clickedFeatures = map.queryRenderedFeatures(e.point, { layers: [newLayerId] });
          var selected = clickedFeatures.map(feature => feature.properties)
          console.log(selected)
          restaurantDetails(selected);
        });

        
      })
      .catch(error => {
        console.error('Error fetching marker points:', error);
      });
  }
  
var searchForm = document.getElementById('search-form');
  searchForm.addEventListener('submit', function(event) {
    event.preventDefault();
    var searchTerm = searchForm.elements['search_term'].value;
    searchCoordinates(searchTerm);
  });

  function searchCoordinates(searchTerm) {
    fetch('/search/' + searchTerm + '/coordinates')
      .then(response => response.json())
      .then(data => {
        var newCenter = data.features[0].geometry.coordinates;
        console.log(data.features)
        var id = data.features[0].properties.id;
        console.log(newCenter)
        map.flyTo({
          center: newCenter,
          zoom: 14
        })
        fetchMarkerPoints(id)
        rentalDetails(data.features[0].properties)
      });
  }

// function search() {
//   // Get the search term from the search input field
//   var search_term = document.getElementById('search_term').value;

//   // Send an AJAX request to the Flask app to search for matching rentals
//   var xhr = new XMLHttpRequest();
//   xhr.open('GET', `/search/${search_term}`);
//   xhr.onload = function() {
//     if (xhr.status === 200) {
//       // Parse the GeoJSON feature collection from the response
//       var feature_collection = JSON.parse(xhr.responseText);

//       // Add the matching rentals to the Leaflet map as markers
//       var markers = L.geoJSON(feature_collection, {
//         onEachFeature: function(feature, layer) {
//           layer.bindPopup(`<b>${feature.properties.name}</b><br>${feature.properties.address}`);
//         }
//       }).addTo(map);

//       // Zoom the map to the extent of the matching rentals
//       map.fitBounds(markers.getBounds());
//     } else {
//       console.error('Error searching for rentals:', xhr.statusText);
//     }
//   };
//   xhr.onerror = function() {
//     console.error('Error searching for rentals:', xhr.statusText);
//   };
//   xhr.send();
// }

fetch(`/search/${searchTerm}`)
  .then(response => response.json())
  .then(data => {
      console.log(data.feature.geometry.coordinates);
      map.setView(data.feature.geometry.coordinates, map.getZoom());
      // var newMarker = L.marker(coordinates).addTo(map).on('click', function() {
      //   $.post("/", {
      //     marker_id: id
      //   });
      // function restaurantDetails(data) {
      //   console.log(data.address);
      //   // Update the HTML template with the marker details
      //   var element = document.getElementsByClassName("marker-details")[0];
      //   // Hide the element
      //   element.style.display = "block";

      //   var nameDiv = document.getElementById("name");
      //   // Update the name div with the name of the restaurant
      //   nameDiv.textContent = data.name;

      //   var addressDiv = document.getElementById("address");
      //   // Update the address div with the address of the restaurant
      //   addressDiv.textContent = data.address;

      //   var ratingDiv = document.getElementById("rating");
      //   // Update the rating div with the rating of the restaurant
      //   ratingDiv.textContent = data.rating;
      // }
    });

function restaurantDetails(restaurant) {
  restaurant = restaurant[0];
  // Update the marker-details div
  var element = document.getElementsByClassName("restaurant-details")[0];
  // Show the element
  element.style.display = "block";
  document.getElementById("restaurant-name").textContent = restaurant.name;
  document.getElementById("restaurant-address").textContent = restaurant.address;
  document.getElementById("restaurant-cuisine").textContent = restaurant.cuisine;
  document.getElementById("restaurant-phone").textContent = restaurant.phone;
  document.getElementById("restaurant-website").textContent = restaurant.website;
}

function resetRestaurantDetails() {
  // Update the marker-details div
  var element = document.getElementsByClassName("restaurant-details")[0];
  // Hide the element
  element.style.display = "none";
}

function rentalDetails(rental) {
  // Update the rental-info div
  var element = document.getElementsByClassName("rental-info")[0];
  // Show the element
  element.style.display = "block";
  document.getElementById("rental-name").textContent = rental.name;
  document.getElementById("rental-address").textContent = rental.address;
}

// // Loop through the markers and add them to the map
// {% for point in features %}
//   addMarker({{ feature | tojson }});
// {% endfor %}

</script>
{% endblock %}