{% extends 'base.html' %}

{% block content %}
<h1>Add User</h1>
<form action="{{ url_for('Users') }}" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  <br>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>
  <br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <br>
  <button type="submit">Add User</button>
</form>

{% endblock %}